/*#header {
   color: #010067;
}*/

/*.navWrap {
   
}*/

.nav {
   width: 100%;
  padding: 0px;
  margin: 0px;
  align: left;
  z-index: 10;
  position: absolute;
  font-family: 'Raleway';

}

.navblock{
  background-color: #0E6BA8;
  width: 15%;
  float: left;
  display: block;
  margin:2.5%;
  text-align: center;
  color: #e6e4e6;
  vertical-align: center;
  font-family: 'Raleway';
}

html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

.logohome {
    position:absolute;
    z-index: 10;
    top: 250px;
    width:50%;
    margin-left: 25%;
}

/*.fixedBox {
   position: fixed;
   z-index: -10000;   
   width: 300px;
   background: #010067;
   padding: 10px;*/

 /*------------------------------------------------------------------------------------------------------*/

}
.carocontainer{
max-height: 100%

}
.item {
    width: 100%;
    min-height: 100%;
}
.carousel .item img {
    min-width: 100%;
}

@media (min-width: 100%) {
    .block {
        margin-left: 100%;
        margin-right: 100%;
        overflow: hidden;
    }
}

html,body{height:100%;}
.carousel-inner{min-width:100%;}
